@media screen and (max-width:1024px) {
    




    .head-con-1-con-1-text-1-con-1-display {
        /* margin-top: 3px;
        gap: 59px;
        display: flex;
        margin-left: 58px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase; */
        display: none;
    }
    .head-con-1-con-text-8 {
        display: none;
        /* margin-top: 10px; */
        /* margin-left: 70px; */
        /* margin-left: 300px; */
        /* font-style: normal; */
        font-weight: 400;
        /* font-size: 11px; */
        /* line-height: 11px; */
        /* text-transform: uppercase; */
    }


    .con-1-element-1-img-1 {
        display: none;
        /* margin-top: 67px; */
        /* margin-top: -48px; */
        /* margin-left: 68px; */
        /* width: 204px; */
        /* transform: scale(1.2); */
        /* color: rgb(255, 102, 0); */
        /* transition: 1s all; */
    }
    
    


    .con-1-element-2-text-2 {
        color: #fffcf6dc;
        margin-top: -135px;
        width: 212px;
        font-family: font-2;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        margin-left: 366px;
    }

    .con-2-element-1-img-2 {
        width: 57px;
        margin-left: -93px;
        margin-top: 69px;
    }
    .con-1 {
        margin-top: -10px;
    }

    #id-3 {
        transition: 1s all;
        margin-top: 63px;
    }
    .con {
        margin-left: -2px;
        /* padding: 0; */
        /* margin: 0 auto; */
        /* position: absolute; */
        /* position: relative; */
        width: 969px;
        height: 8223px;
        background: #313F38;
    }
    .con-2-el-1-fon-1 {
        margin-top: 50px;
        background-repeat: no-repeat;
        background-image: url(./fon/space-copenhagen-the-stratford-architonic-rs-8-03-arcit18\ 1.svg);
        height: 658px;
        width: 924px;
    }



    .c-2-e-1-slcon-1 {
        margin-left: 306px;
    }
    #id-brn {
        /* margin-top: 572px; */
        /* background-color: rgba(255, 252, 246, 1); */
        width: 200px;
        height: 86px;
        outline: none !important;
    }




    .c-2-e-2-text-1 {
        margin-top: 615px;
        margin-left: 10px;
    }
    .c-2-e-2-text-2 {
        font-weight: 520;
        margin-top: -52px;
        margin-left: 770px;
        font-family: font-1;
        text-transform: uppercase;
    }
    .c-2-e-2-t-2 {
        font-size: 13px;
        text-transform: uppercase;
        border-bottom: none;
        width: 278px;
        text-orientation: initial;
        font-weight: 520;
    }
    .c-2-e-e-t-3 {
        text-transform: uppercase;
        border-bottom: none;
        width: 236px;
        /* text-orientation: initial; */
        font-size: 13px;
        font-weight: 20;
    }



    .c-3-el-t_i-1-text-1 {
        font-family: f;
        font-style: normal;
        font-size: 75px;
        font-weight: 20;
        line-height: 69px;
        /* font-family: font-2; */
        margin-left: -172px;
        text-transform: uppercase;
        margin-top: -64px;
    }
    .c-3-el-1-img-2 {
        margin-left: 22px;
        width: 213px;
        /* height: 447px; */
        margin-top: 29px;
        
    }



    .c-3-el-1 {
        background-repeat: no-repeat;
        margin-left: -22px;
        width: 968px;
        height: 845px;
        background-image: url(./ad-img/Frame\ 1\ \(6\).svg);
    }

    .c-3-el-t_i-2-img-3 {
        display: none;
        /* margin-top: 111px; */
        /* width: 83px; */
        /* font-size: 163px; */
        /* margin-left: -38px; */
    }


    .c-3-el-t_i-2-img-2 {
        height: 128px;
        width: 95px;
        margin-left: -44px;
    }



    .c-3-el-t_i-1-text-2 {
        margin-top: 46px;
        font-family: f;
        font-size: 34px;
        font-style: normal;
        font-weight: 20;
        margin-left: 87px;
    }

    .c-4-el-2-b-3 {
        position: absolute;
        margin-top: -119px;
        margin-left: 629px;
    }



    .con-4 {
        margin-top: -116px;
        position: absolute;
        /* position: absolute; */
        color: black;
        background-color: rgba(255, 252, 246, 1);
        width: 972px;
        height: 3297px;
        margin-left: -25px;
    }
    


    .c-3-el-t_i-1-text-3-p {
        margin-top: 35px;
        width: 100%;
        margin-left: 84px;
        font-family: font-2;
        color: #fffcf67e;
    }
    .c-3-el-t_i-2 {
        display: block;
        margin-left: 166px;
        margin-top: 106px;
        margin-top: 128px;
    }



    .c-4-e-2-b-1-i-1 {
        display: none;
        /* width: 153px; */
    }


    .c-4-e-2-b-2-i-1 {
        display: none;
        margin-top: 144px;
        width: 170px;
        /* transform: scale(1.2); */
        /* color: rgb(255, 102, 0); */
        transition: 1s;
    }


    .c-4-e-3-img-line {
        margin-top: -128px;
        width: 954px;
        height: 20px;
    }




    .c-4-el-2-b-2 {
        margin-top: -101px;
        width: 478px;
        margin-left: 126px;
        display: block;
    }




    .c-4-e-1-t-1 {
        text-transform: uppercase;
        font-style: normal;
        font-weight: 20;
        font-size: 99px;
        font-family: f;
        margin-left: 1px;
        margin-top: 10px;
    }






    .c-4-e-1-t-2 {
        text-transform: uppercase;
        /* width: 367px; */
        font-style: normal;
        font-weight: 500;
        font-family: font-2;
        font-size: 16px;
        margin-left: 2px;
        margin-top: -25px;
    }

    .c-4-e-2-b-2-t-1 {
        margin-top: 205px;
        font-style: normal;
        font-weight: 300;
        font-family: f;
        font-size: 36px;
    }





    .c-4-e-2-b-2-p-1 {
        font-size: 11px;
        width: 240%;
        margin-top: 20px;
    }
    .c-4-e-2-b-2-t-2 {
        font-size: 10px;
        margin-top: 67px;
        color: rgba(14, 14, 14, 0.575);
        font-family: font-4;
    }





    .c-4-el-3-f-1-b-3-img-1 {
        display: none;
        width: 237px;
    }



    .c-4-el-3-f-1-b-1-t-1 {
        position: absolute;
        text-transform: uppercase;
        font-size: 16px;
        font-style: normal;
        font-weight: 20;
        margin-top: 0;
        margin-left: 798px;
        font-family: font-4;
    }


    .c-4-el-3-f-1-b-1-i-1 {
        width: 216px;
        margin-top: 176px;
    }


    .c-4-el-3-f-1-b-2-p-1 {
        font-size: 11px;
        margin-top: 53px;
    }


    .c-4-el-3-f-2-b-3 {
        margin-top: 83px;
        margin-left: 125px;
    }
    




    .id-100 {
        display: flex;
        text-transform: uppercase;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        margin-top: 17px;
        margin-left: 0;
        font-family: font-4;
    }




    .c-4-el-3-f-2-b-1-bt-1 {
        width: 83px;
        margin-top: 194px;
    }

    .c-4-el-3-f-2-b-1-bt-1 {
        width: 87px;
        margin-top: 270px;
    }

               

.c-4-el-3-f-2-b-2-p-1 {
    FONT-SIZE: 11px;
    margin-top: 10px;
    /* text-transform: uppercase; */
    font-style: normal;
    font-weight: 600;
    width: 185px;
}




.c-4-el-3-f-2-b-2-t-2 {
    line-height: 39px;
    font-size: 30px;
    margin-top: 111px;
    font-style: normal;
    font-weight: 40;
    font-family: f;
}



.c-4-el-3-f-2-b-2-t-1 {
    margin-top: 133px;
    font-size: 30px;
    font-style: normal;
    font-weight: 20;
    font-family: f;
}




.c-4-el-3-f-2-b-3-i-1 {
    width: 319px;
}
.c-4-el-4 {
    margin-top: 92px;
}
.c-4-el-4-b-1 {
    margin-top: 33px;
    gap: 92px;
    display: flex;
}



.c-4-el-4-b-1-t-1 {
    margin-top: 61px;
    font-size: 30px;
    font-style: normal;
    font-weight: 20;
    font-family: f;
}


.c-4-el-4-b-1-t-2 {
    margin-top: 60px;
    font-size: 30px;
    font-style: normal;
    font-weight: 20;
    font-family: f;
}


.c-4-el-4-b-1-bt-1 {
    width: 54px;
    margin-top: 70px;
    margin-left: 201px;
}


.c-4-el-4-b-2-t-1 {
    margin-top: 59px;
    font-size: 30px;
    font-style: normal;
    font-weight: 20;
    font-family: f;
}
.c-4-el-4-b-2-t-2 {
    margin-top: 58px;
    font-size: 30px;
    font-style: normal;
    font-weight: 20;
    font-family: f;
}
.c-4-el-4-b-2-bt-1 {
    width: 54px;
    margin-top: 70px;
    margin-left: 158px;
}
.c-4-el-5-b-1-t-1 {
    line-height: 73px;
    color: rgba(252, 208, 67, 1);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 21;
    font-size: 78px;
    font-family: f;
    margin-left: -3px;
    margin-top: 3px;
}







.c-4-el-5-i-end {
    margin-top: 157px;
    margin-left: -20px;
    width: 972px;
}



.c-5-e-1-b-2-i-1 {
    margin-left: 255px;
}


.c-5-e-1-b-2-t-1 {
    margin-left: 70px;
    color: rgba(252, 208, 67, 1);
    /* line-height: 90px; */
    text-transform: uppercase;
    font-style: normal;
    font-weight: 20;
    font-size: 68px;
    font-family: f;
}

.c-5-e-1-b-1-i-1 {
    margin-left: -25px;
    margin-top: 194px;
    height: 155px;
    width: 148px;
}

.c-5-e-1-b-1-i-2 {
    margin-top: 204px;
    width: 122px;
}
.c-5-e-1-b-2-i-2 {
    margin-left: 66px;
    margin-top: 100px;
    width: 430px;
}
.c-5-e-1-b-3-i-2 {
    width: 229px;
    margin-top: 411px;
}
.c-5-e-1-b-3 {
    margin-top: 74px;
    margin-left: 4px;
}
.c-5-e-1-b-3-i-1 {
    height: 147px;
    width: 169px;
    margin-left: 75px;
    margin-top: 115px;
    /* height: 195px; */
    /* width: 162px; */
}

.c-5-e-1-b-2-p-1 {
    font-size: 12px;
    margin-top: 35px;
    color: #ffffffa6;
    margin-left: 132px;
    font-family: font-2;
}




































.c-5-e-1-b-4-it-1 {
    margin-left: -25px;
    width: 1206px;
}

.c-5-e-1-b-4-tbank-1 {
    position: absolute;
    margin-top: 5px;
    margin-left: 236px;
    font-family: f;
    font-style: normal;
    font-weight: 20;
    font-size: 70px;
}
.burger-menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 411px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: rgba(49, 63, 56, 1);
    box-shadow: 16px 18px 6px #00000036;
}

.c-6-e-1-b-2-carve-1 {
    height: 283px;
    position: absolute;
    /* display: flex; */
    width: 1085px;
    margin-top: 193px;
    margin-left: -130px;
}
.c-6-e-1-b-2-t-2 {
    color: #FCD043;
    margin-left: 61px;
    margin-top: -72px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 20;
    font-size: 139px;
    font-family: f;
    position: absolute;
}
.c-6-e-1-b-1-t-2 {
    margin-top: 280px;
    /* line-height: 90px; */
    text-transform: uppercase;
    font-style: normal;
    font-weight: 20;
    font-size: 139px;
    font-family: f;
}
.c-6-e-1-b-2-cf-1-ic-1 {
    width: 69px;
    margin-left: 45px;
    position: absolute;
    margin-top: 256px;
}
.c-6-e-1-b-2-cf-1-i-1 {
    margin-left: 231px;
    margin-top: 189px;
    width: 212px;
}


.c-6-e-1-b-2-t-1 {
    margin-left: 167px;
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    /* font-weight: 20; */
    margin-top: 90px;
    margin-left: 230px;
    font-family: font-4;
}

#id-brn {
    /* margin-top: 572px; */
    /* background-color: rgba(255, 252, 246, 1); */
    width: 191px;
    height: 86px;
    outline: none !important;
}

.c-6-e-2-b-1-t-1 {
    font-family: font-4;
    text-transform: uppercase;
    font-size: 18px;
    color: #000000;
}
.c-6-e-2-b-1-sc-1-s-2 {
    /* background-color: rgb(126 110 77); */
    margin-left: -4px;
    font-style: normal;
    padding-left: 36px;
    /* font-family: font-1; */
    font-size: 15px;
    /* color: #ffffff; */
    appearance: none;
    height: 96px;
    width: 214px;
    border: none;
    background-color: rgba(255, 252, 246, 1);
}
.c-6-e-2-b-1-sc-1-s-1 {
    /* background-color: rgb(191 144 51); */
    /* margin-left: 10px; */
    font-style: normal;
    padding-left: 36px;
    /* font-family: font-1; */
    font-size: 15px;
    /* color: #ffffff; */
    appearance: none;
    height: 96px;
    width: 214px;
    border: none;
    background-color: rgba(255, 252, 246, 1);
}
.c-6-e-2-b-1-sc-1-br-1 {
    width: 389px;
    border: #0000006e solid 2px;
}

.c-6-e-3-b-3-cf-1 {
    display: block;
    margin-top: 28px;
    gap: 30px;
    /* display: flex; */
}
.ddd {
    margin-top: 14px;
}
.c-6-e-3-b-2 {
    margin-left: 102px;
}
.c-6-e-3-b-3 {
    margin-left: 115px;
}

.con {
    margin-left: -2px;
    /* padding: 0; */
    /* margin: 0 auto; */
    /* position: absolute; */
    /* position: relative; */
    width: 969px;
    height: 7945px;
    background: #313F38;
}
.con-1-main {
    /* background-color: rebeccapurple; */
    /* margin-top: 20px; */
    height: 7904px;
}

.id15 {
    margin-left: -4px;
    width: 200px;
    margin-top: 572px;
}
.c-2-e-1-slcon-1 {
    margin-left: 354px;
}

.burger-menu{
    display: block;
}


}

