@media screen and (max-width:375px) {

    .con-2-element-1-img-2 {
        display: none;
        width: 57px;
        margin-left: -93px;
        margin-top: 69px;
    }

    .head-con-1-con-1-tex-1 {
        margin-left: -25px;
        height: 50px;
        background-color: #313f3877;
        position: absolute;
        position: sticky;
        top: 46px;
        display: flex;
    }
    .con-1-element {
        display: block;
         gap: none;
    }


    .con-2 {
        margin-top: 400px;
        /* height: 100%; */
    }

    .con-1 {
        margin-top: 108px;
    }



    .con-1-element-2-text-2 {
        color: #fffcf6dc;
        margin-top: 251px;
        width: 672px;
        font-family: font-2;
        font-style: normal;
        font-weight: 400;
        font-size: 31px;
        line-height: 41px;
        margin-left: -686px;
    }
    .con-2-element-1-text-1 {
        font-style: normal;
        font-weight: 400;
        font-family: f;
        font-size: 189px;
    }
    
    

    .con-2-element-2-text-1 {
        margin-top: 78px;
        font-family: font-2;
        color: #FCD043;
        font-style: normal;
        font-weight: 400;
        font-size: 31px;
        /* line-height: 31px; */
        text-transform: uppercase;
        margin-left: 40px;
    }

    .head-con-1-con-1-text-1 {
        margin-left: 27px;
        color: #fffcf6dc;
        font-family: font-2;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 24px;
        margin-top: 0px;
    }
    
    .head-con-1-con-1-text-1-con-1-display {
        display: none;
    }






    .c-2-e-1-slcon-1 {
        display: none;
        margin-left: 306px;
    }
    .con-2-el-1-fon-1 {
        /* margin-top: 50px; */
        /* background-repeat: no-repeat; */
        background-image: none;
        height: 658px;
        width: 924px;
        /* background-image: url(./fon/image\ \(1\).svg); */
    }


    .img-d {
        margin-top: -772px;
        width: 924px;
        display: inline-block;
    }

    .c-2-e-2-text-1 {
        margin-top: 223px;
        margin-left: 10px;
    }

    .con-3 {
        margin-top: 361px;
    }
    .d-3 {
        display: block;
        margin-left: 563px;
        position: absolute;
        width: 258px;
        margin-top: 643px;
    }    


    .c-2-e-2-t-2 {
        display: none;
        font-size: 13px;
        text-transform: uppercase;
        border-bottom: none;
        width: 278px;
        text-orientation: initial;
        font-weight: 520;
    }


    .c-2-e-e-t-3 {
        display: none;
        text-transform: uppercase;
        border-bottom: none;
        width: 236px;
        /* text-orientation: initial; */
        font-size: 25px;
        font-weight: 20;
    }










    .c-2-e-2-text-2 {
        display: none;
        font-size: 35px;
        font-weight: 520;
        margin-top: 1080px;
        margin-left: -5px;
        font-family: font-1;
        text-transform: uppercase;
        /* width: 100px; */
        position: absolute;
    }
    .c-3-el-t_i-2-img-2 {
        height: 128px;
        width: 95px;
        margin-left: -44px;
        display: none;
    }
    .c-3-el-1-img-2 {
        display: none;
        margin-left: 3px;
        width: 962px;
        height: 1361px;
        margin-top: 29px;
        position: absolute;
    }
    .c-3-el-t_i-1-text-1 {
        font-family: f;
        font-style: normal;
        font-size: 131px;
        font-weight: 20;
        line-height: 111px;
        /* font-family: font-2; */
        margin-left: -172px;
        text-transform: uppercase;
        margin-top: -306px;
    }

    .p-1{
        display: block;
        margin-top: 9px;
        margin-left: 0;
        position: absolute;
    }

    .con-4 {
        margin-top: 1149px;
        position: absolute;
        /* position: absolute; */
        color: black;
        background-color: rgba(255, 252, 246, 1);
        width: 972px;
        height: 3297px;
        margin-left: -25px;
    }


    .img-12{

    }


.c-3-el-t_i-1-text-1 {
    font-family: f;
    font-style: normal;
    font-size: 131px;
    font-weight: 20;
    line-height: 111px;
    /* font-family: font-2; */
    margin-left: 94px;
    text-transform: uppercase;
    margin-top: -306px;
}


.c-3-el-t_i-1-text-2 {
    margin-top: 1268px;
    font-family: f;
    font-size: 71px;
    font-style: normal;
    font-weight: 20;
    margin-left: 27px;
}
.c-3-el-1 {
    background-repeat: no-repeat;
    margin-left: -22px;
    width: 968px;
    height: 845px;
    background-image: none;
}

.p-1 {
    height: 950px;
    width: 966px;
    display: inline;
    margin-top: 400px;
    margin-left: 0;
    position: absolute;
}
.img-12 {
    width: 196px;
    display: block;
    margin-left: 679px;
    position: absolute;
    margin-top: -100px;
}
.c-3-el-t_i-1-text-2 {
    margin-top: 1268px;
    font-family: f;
    font-size: 71px;
    font-style: normal;
    font-weight: 20;
    margin-left: 27px;
}

.c-3-el-t_i-1-text-3-p {
    line-height: 71px;
    margin-top: 35px;
    width: 100%;
    margin-left: 26px;
    font-family: font-2;
    color: #fffcf67e;
    font-size: 29px;
}

.c-4-el-1 {
display: block;
}

.c-4-e-1-t-2 {
    text-transform: uppercase;
    /* width: 367px; */
    font-style: normal;
    font-weight: 500;
    font-family: font-2;
    font-size: 28px;
    margin-left: 8px;
    margin-top: 90px;
}


.c-4-e-1-t-1 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 20;
    font-size: 99px;
    font-family: f;
    margin-left: 1px;
    margin-top: 10px;
    /* width: 76px; */
}


.c-4-e-1-t-2 {
    text-transform: uppercase;
    /* width: 367px; */
    font-style: normal;
    font-weight: 500;
    font-family: font-2;
    font-size: 28px;
    margin-left: 8px;
    margin-top: 90px;
}
.c-4-el-2-b-3-i-1 {
    width: 934px;
    height: 946px;
}
.c-4-el-2-b-3 {
    position: absolute;
    margin-top: -119px;
    margin-left: -3px;
}
.c-4-e-2-b-2-t-2 {
    margin-left: 20px;
    position: absolute;
    font-size: 37px;
    margin-top: -217px;
    color: rgba(14, 14, 14, 0.575);
    font-family: font-4;
}
.c-4-e-2-b-2-t-1 {
    margin-top: 978px;
    font-style: normal;
    font-weight: 300;
    font-family: f;
    font-size: 71px;
}



.c-4-e-2-b-2-t-2 {
    margin-left: 429px;
    position: absolute;
    font-size: 31px;
    margin-top: -188px;
    color: rgba(14, 14, 14, 0.575);
    font-family: font-4;
}



.con-1-main {
    /* background-color: rebeccapurple; */
    /* margin-top: 20px; */
    height: 11226px;
}
.con {
    margin-left: -2px;
    /* padding: 0; */
    /* margin: 0 auto; */
    /* position: absolute; */
    /* position: relative; */
    width: 969px;
    height: 12400px;
    background: #313F38;
}

.con-5 {
    margin-top: 4761px;
}



.c-4-el-4 {
    margin-top: 1218px;
}

.c-4-el-2-b-3-bt-1 {
    margin-left: -312px;
    position: absolute;
    width: 258px;
    margin-top: 645px;
}.c-6-e-2 {
    display: none;
    margin-top: 226px;
}.c-6-e-3 {
    margin-top: 70px;
    color: #000000;
    display: flex;
    display: none;
}
.p-1 {
    height: 913px;
    width: 897px;
    display: inline;
    margin-top: 400px;
    margin-left: 35px;
    position: absolute;
}
    .c-3-el-t_i-1-text-1 {
        color: rgb(252, 208, 67);
        font-family: f;
        font-style: normal;
        font-size: 131px;
        font-weight: 20;
        line-height: 111px;
        /* font-family: font-2; */
        margin-left: 94px;
        text-transform: uppercase;
        margin-top: -306px;
        /* color: #98a52a; */
    }


    .c-4-el-3 {
        margin-top: 587px;
        height: 100%;
        width: 100%;
        color: #000000;
    }
    .con-4-4 {
        margin-top: -27px;
        margin-left: 20px;
    }
    .con-5 {
        margin-top: 5787px;
    }


    .c-4-el-4 {
        margin-top: 46px;
    }
    .c-4-el-3 {
        margin-top: 587px;
        height: 100%;
        width: 100%;
        color: #000000;
    }
    .con-4 {
        margin-top: 1149px;
        position: absolute;
        /* position: absolute; */
        color: black;
        background-color: rgba(255, 252, 246, 1);
        width: 972px;
        height: 3695px;
        margin-left: -25px;
    }
    .c-4-el-5-i-end {
        margin-top: 157px;
        margin-left: -20px;
        width: 972px;
    }

    .c-4-e-1-t-1 {
        display: none;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 20;
        font-size: 99px;
        font-family: f;
        margin-left: 1px;
        margin-top: 122px;
        /* width: 76px; */
    }
    .c-4-e-2-b-2-t-2 {
        /* width: 168px; */
        margin-left: 511px;
        position: absolute;
        font-size: 26px;
        margin-top: -320px;
        color: rgba(14, 14, 14, 0.575);
        font-family: font-4;
    }
    .c-4-e-2-b-1-bt-1 {
        width: 83px;
        margin-top: 768px;
    }
    .c-4-e-2-b-1-bt-1 {
        width: 142px;
        margin-top: 873px;
    }
    .c-4-e-2-b-1-bt-1 {
        width: 142px;
        margin-top: 1017px;
    }
    .c-4-e-2-b-2-t-1 {
        margin-left: -266px;
        position: absolute;
        margin-top: 1074px;
        font-style: normal;
        font-weight: 300;
        font-family: f;
        font-size: 71px;
    }

    .c-4-e-2-b-1-bt-1 {
        width: 142px;
        margin-top: 1163px;
    }
    .c-4-e-2-b-2-p-1 {
        font-size: 19px;
        width: 240%;
        margin-top: 1264px;
    }
    .con-4 {
        margin-top: 1149px;
        position: absolute;
        /* position: absolute; */
        color: black;
        background-color: rgba(255, 252, 246, 1);
        width: 972px;
        height: 4056px;
        margin-left: -25px;
    }
    .c-4-el-4 {
        margin-top: 448px;
    }

    .c-4-el-5-b-1{
        margin-top: -96px;
    }


    .c-4-el-3 {
        margin-top: 925px;
        height: 100%;
        width: 100%;
        color: #000000;
    }

    .c-4-e-2-b-2-t-2 {
        /* width: 218px; */
        margin-left: 449px;
        position: absolute;
        font-size: 26px;
        margin-top: -602px;
        color: rgba(14, 14, 14, 0.575);
        font-family: font-4;
    }

    .id-50 {
        line-height: 52px;
        display: block;
        font-size: 33px;
        width: 320%;
        margin-top: 1264px;
        font-family: 'font-2';
        color: #000000a1;
        margin-left: 44px;
    }

    .id-51{ 
        display: block;
            /* width: 218px; */
    margin-left: 449px;
    position: absolute;
    font-size: 26px;
    margin-top: -602px;
    color: rgba(14, 14, 14, 0.575);
    font-family: font-4;
    }



.c-4-e-2-b-2-t-2{
    display: none;
}






    .c-4-e-2-b-2-p-1{
        display: none;
    }



    .id-55 {
        width: 396px;
        font-size: 35px;
        font-weight: 520;
        margin-top: 1080px;
        margin-left: -5px;
        font-family: font-1;
        text-transform: uppercase;
        /* width: 100px; */
        position: absolute;
        display: block;
    }




    .id-55{
        display: block;
    }










    .id-55 {
        font-size: 35px;
        font-weight: 520;
        margin-top: 1080px;
        margin-left: -5px;
        font-family: font-1;
        text-transform: uppercase;
        /* width: 100px; */
        position: absolute;
        display: block;
    }


    .c-4-e-1-t-1-1{
        display: block;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 20;
        font-size: 100px;
        font-family: f;
        margin-left:1px ;
        margin-top: 10px;
    }






    .c-4-e-1-t-1 {
        display: none;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 20;
        font-size: 99px;
        font-family: f;
        margin-left: 1px;
        margin-top: 122px;
        /* width: 76px; */
    }
    .c-4-e-2-b-1-bt-1 {
        width: 158px;
        margin-top: 1299px;
    }
    .c-4-el-2-b-2 {
        margin-top: -19px;
        width: 478px;
        margin-left: 126px;
        display: block;
    }
    .c-4-el-2-b-3 {
        position: absolute;
        margin-top: 73px;
        margin-left: -3px;
    }
    .c-4-el-2-b-2 {
        margin-top: 107px;
        width: 478px;
        margin-left: 126px;
        display: block;
    }
    .c-4-e-2-b-1-bt-1 {
        width: 158px;
        margin-top: 1415px;
    }
    
    .id-51 {
        display: block;
        /* width: 218px; */
        margin-left: 449px;
        position: absolute;
        font-size: 26px;
        margin-top: -686px;
        color: rgba(14, 14, 14, 0.575);
        font-family: font-4;
    }
    .c-4-el-3 {
        margin-top: 1147px;
        height: 100%;
        width: 100%;
        color: #000000;
    }
.c-4-e-1-t-1-1-C{
    display: block;
}
.c-4-e-1-t-1-1-t{
    font-weight: 900;
    font-size: 44px;
    font-family: 'font-1';
}
.c-4-e-1-t-1-1-C {
    margin-top: 98px;
    display: block;
    margin-left: 661px;

}

.c-4-e-1-t-1-1 {
    display: block;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 20;
    font-size: 157px;
    font-family: f;
    margin-left: 1px;
    margin-top: 46px;
}

.c-4-el-3-f-1-b-2-t-1 {
    line-height: 140px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 20;
    font-size: 131px;
    font-family: f;
}

.c-4-el-3-f-1-b-1-i-1 {
    position: absolute;
    width: 436px;
    margin-top: 467px;
    margin-left: 117px;
}
.c-4-el-3-f-1-b-2-img-1-positition {
    position: absolute;
    margin-left: 47px;
    margin-top: -150px;
    width: 160px;
}


.c-4-el-3-f-1-b-1-i-1 {
    position: absolute;
    width: 436px;
    margin-top: 467px;
    margin-left: 251px;
}
.c-4-el-3-f-1-b-1-t-1 {
    position: absolute;
    text-transform: none;
    font-size: 32px;
    /* font-style: normal; */
    font-weight: 700;
    margin-top: 0;
    margin-left: 702px;
    /* font-family: 'font-1'; */
}
.c-4-el-3-f-1-b-2 {
    margin-left: 136px;
}
.c-4-el-3-f-1-b-2 {
    margin-left: 236px;
}
.c-4-el-3-f-1-b-1-t-1 {
    position: absolute;
    text-transform: none;
    font-size: 38px;
    /* font-style: normal; */
    font-weight: 700;
    margin-top: 0;
    margin-left: 664px;
    /* font-family: 'font-1'; */
}
/* .con-4 {
    margin-top: 1149px;
    position: absolute;
    /* position: absolute; 
    color: black;
    background-color: rgba(255, 252, 246, 1);
    width: 972px;
    height: 8209px;
    margin-left: -25px;
} */
.con-4 {
    margin-top: 1149px;
    position: absolute;
    /* position: absolute; */
    color: black;
    background-color: rgba(255, 252, 246, 1);
    width: 972px;
    height: 6056px;
    margin-left: -25px;
}
.con-1-main {
    /* background-color: rebeccapurple; */
    /* margin-top: 20px; */
    height: 21226px;
}

.con {
    margin-left: -2px;
    /* padding: 0; */
    /* margin: 0 auto; */
    /* position: absolute; */
    /* position: relative; */
    width: 969px;
    height: 22400px;
    background: #313F38;
}




.con-5 {
    margin-top: 7341px;
}




.c-4-e-3-flex-2 {
    margin-top: 573px;
    display: flex;
}
.c-4-el-3-f-1-b-2-p-1{
    display: none;
}

.sssss{
    display: block;
}
.c-4-el-3-f-1-b-2-p-1-1 {
    line-height: 52px;
    display: block;
    font-size: 33px;
    width: 320%;
    margin-top: 461px;
    font-family: 'font-2';
    color: #000000a1;
    margin-left: 91px;
}
.c-4-el-3-f-2-b-3 {
    position: absolute;
    margin-top: -445px;
    margin-left: 5px;
}
.c-4-el-3-f-2-b-3-i-1 {
    width: 924px;
}

.con-5 {
    margin-top: 9675px;
}

.con-4 {
    margin-top: 1149px;
    position: absolute;
    /* position: absolute; */
    color: black;
    background-color: rgba(255, 252, 246, 1);
    width: 972px;
    height: 9297px;
    margin-left: -25px;
}
.con-5 {
    margin-top: 10717px;
}
.con-4 {
    margin-top: 1149px;
    position: absolute;
    /* position: absolute; */
    color: black;
    background-color: rgba(255, 252, 246, 1);
    width: 972px;
    height: 9297px;
    margin-left: -25px;
}



.c-4-el-3-f-2-b-2 {
    margin-top: 1040px;
    margin-left: 214px;
}

.c-4-el-3-f-2-b-1-bt-1 {
    width: 87px;
    margin-top: 1251px;
}
.c-4-el-3-f-2-b-2-t-1 {
    margin-top: -89px;
    font-size: 83px;
    font-style: normal;
    font-weight: 20;
    font-family: f;
    margin-left: -376px;
}
.c-4-el-3-f-2-b-1-bt-1 {
    width: 183px;
    margin-top: 1212px;
}



.c-4-el-3-f-2-b-2-t-2 {
    line-height: 60px;
    font-size: 70px;
    margin-top: -77px;
    font-style: normal;
    font-weight: 40;
    font-family: f;
}


.id-100 {
    display: none;
    /* display: flex; */
    text-transform: uppercase;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-top: 17px;
    margin-left: 0;
    font-family: font-4;
}


.c-4-el-3-f-2-b-2-p-1-1{
    display: flex;
    line-height: 52px;
    font-size: 33px;
    margin-top: 46px;
    font-family: 'font-2';
    color: #000000a1;
    margin-left: 9px;
}
.c-4-el-3-f-2-b-2-p-1{
    display: none;
}



.c-4-el-3-f-2-b-1-bt-1 {
    width: 184px;
    margin-top: 1125px;
}
.c-4-el-3-f-2-b-2-t-2 {
    margin-left: -50px;
    line-height: 60px;
    font-size: 70px;
    margin-top: -77px;
    font-style: normal;
    font-weight: 40;
    font-family: f;
}
.c-4-el-3-f-2-b-1-bt-1 {
    width: 184px;
    margin-top: 1125px;
}
.c-4-el-3-f-2-b-2-p-1-1 {
    display: flex;
    line-height: 52px;
    font-size: 33px;
    margin-top: 46px;
    font-family: 'font-2';
    color: #000000a1;
    margin-left: -52px;
}

.c-4-el-4-b-1-bt-1 {
    width: 54px;
    margin-top: 70px;
    margin-left: 201px;
    display: none;
}
.c-4-el-4-b-2-bt-1 {
    display: none;
    width: 54px;
    margin-top: 70px;
    margin-left: 158px;
}
.c-4-el-4-b-1-i-1 {
    width: 453px;
}
.c-4-el-4-b-1-i-2 {
    width: 453px;
}
.c-4-el-4-b-2-i-1 {
    margin-left: 241px;
    width: 453px;
    position: absolute;
}
.c-4-el-4-b-1-i-1 {
    position: absolute;
    width: 353px;
    margin-left: 288px;
    margin-top: -366px;
}
.c-4-el-4-b-2-i-1 {
    margin-left: 287px;
    width: 353px;
    position: absolute;
}
.c-4-el-4-b-1-t-1 {
    margin-top: -200px;
    position: absolute;
    margin-top: -379px;
    font-size: 70px;
    font-style: normal;
    font-weight: 20;
    font-family: f;
    margin-left: 831px;
}
.c-4-el-4-b-1-i-1 {
    position: absolute;
    width: 353px;
    margin-left: 288px;
    margin-top: -366px;
}
.ed{
    margin-top: 333px;
}

.c-4-el-4-b-2-i-1 {
    margin-left: 287px;
    width: 353px;
    position: absolute;
}


.c-4-el-4-b-1 {
    margin-top: 33px;
    /* gap: 92px; */
    /* display: flex; */
}
.c-4-el-4-b-1 {
    margin-top: 33px;
    /* gap: 92px; */
    /* display: flex; */
}
.c-4-el-4-b-2-t-1 {
    margin-top: -8px;
    font-size: 70px;
    font-style: normal;
    font-weight: 20;
    font-family: f;
    margin-left: 831px;
}
.c-4-el-4-b-1-t-2 {
    margin-top: 60px;
    font-size: 60px;
    font-style: normal;
    font-weight: 20;
    font-family: f;
    margin-left: 253px;
}

.ed {
    display: none;
    margin-top: 333px;
}
.c-4-el-4-b-2-t-2 {
    margin-left: 220px;
    position: absolute;
    margin-top: 405px;
    font-size: 60px;
    font-style: normal;
    font-weight: 20;
    font-family: f;
    margin-top: 90;
}
.c-4-el-5-b-1 {
    margin-top: 370px;
}
.c-4-el-4-line-1 {
    margin-top: 57px;
    width: 944px;
    height: 20px;
}
.c-4-el-4-b-2-t-2 {
    margin-left: 220px;
    position: absolute;
    margin-top: 419px;
    font-size: 60px;
    font-style: normal;
    font-weight: 20;
    font-family: f;
    margin-top: 90;
}
.c-4-el-4-b-1 {
    margin-top: 79px;
    /* gap: 92px; */
    /* display: flex; */
}
.c-4-el-4-b-2-i-1-1{
    
}



.c-4-el-4-b-2-i-1-1 {
    width: 967px;
    position: absolute;
    margin-left: -16px;
    display: block;
    margin-top: 627px;
}
.c-4-el-5-b-1-t-1 {
    line-height: 142px;
    color: rgba(252, 208, 67, 1);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 21;
    font-size: 157px;
    font-family: f;
    margin-left: -3px;
    margin-top: 154px;
}


.c-4-el-4-b-2-i-1-1 {
    height: 1543px;
    width: 1511px;
    position: absolute;
    margin-left: -293px;
    display: block;
    margin-top: 601px;
}

.c-4-el-4-b-2-i-1-1 {
    height: 1865px;
    width: 1511px;
    position: absolute;
    margin-left: -293px;
    display: block;
    margin-top: 601px;
}
.c-4-el-5-b-1-p-1-1-1{
    display: block;
}
.c-4-el-5-b-1-p-1{
    display: none;
}

.c-4-el-5-b-1-p-1-1-1 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    display: block;
    font-family: 'font-4';
    font-size: 37px;
    color: rgba(252, 208, 67, 1);
    margin: 1006px 0px 0px 326px;
}
.c-5-e-1-b-3-i-1 {
    position: absolute;
    height: 169px;
    width: 277px;
    margin-left: -49px;
    /* margin-top: -3497px; */
    /* height: 195px; */
    /* width: 162px; */
}




.c-5-e-1-b-1-t-1 {
    display: none;
    text-transform: uppercase;
    font-size: 16px;
    font-style: normal;
    font-weight: 20;
    margin-top: 0;
    margin-left: 0;
    font-family: font-4;
}

.con-4 {
    margin-top: 1149px;
    position: absolute;
    /* position: absolute; */
    color: black;
    background-color: rgba(255, 252, 246, 1);
    width: 972px;
    height: 9269px;
    margin-left: -25px;
}
.c-5-e-1-b-2-t-1 {
    margin-left: 70px;
    color: rgba(252, 208, 67, 1);
    /* line-height: 90px; */
    text-transform: uppercase;
    font-style: normal;
    font-weight: 20;
    font-size: 157px;
    font-family: f;
    margin-top: -66px;
}


.c-5-e-1-b-2-t-1-1-1{
    display: block;
    margin-left: 70px;
    color: rgba(252, 208, 67, 1);
    /* line-height: 90px; */
    text-transform: uppercase;
    font-style: normal;
    font-weight: 20;
    font-size: 157px;
    font-family: f;
    margin-top: -66px;
}
.con-5 {
    margin-top: 10583px;
}
.c-5-e-1-b-2-t-1{
    display: none;
}





.c-5-e-1-b-2-t-1-1-1 {
    display: block;
    margin-left: 70px;
    color: rgba(252, 208, 67, 1);
    /* line-height: 90px; */
    text-transform: uppercase;
    font-style: normal;
    font-weight: 20;
    font-size: 157px;
    font-family: f;
    margin-left: -20px;
    margin-top: -66px;

}

.c-5-e-1-b-2-t-1-1-1 {
    display: block;
    margin-left: 70px;
    color: rgba(252, 208, 67, 1);
    /* line-height: 90px; */
    text-transform: uppercase;
    font-style: normal;
    font-weight: 20;
    font-size: 157px;
    font-family: f;
    margin-left: -17px;
    margin-top: 18px;
    z-index: initial;
}
.c-5-e-1-b-2-i-1 {
    margin-top: -40px;
    width: 169px;
    margin-left: 171px;
}
.c-5-e-1-b-3 {
    margin-top: 611px;
    margin-left: 4px;
}
.c-5-e-1-b-1 {
    margin-top: 452px;
}
.c-5-e-1-b-2-p-1 {
    /* position: absolute; */
    font-size: 33px;
    margin-top: 69px;
    color: #ffffffa6;
    margin-left: -149px;
    font-family: font-2;
    width: 1000px;
}
.c-5-e-1-b-3 {
    position: absolute;
    margin-top: 1241px;
    margin-left: 182px;
}
.c-5-e-1-b-1 {
    margin-top: 915px;
}
.c-5-e-1-b-1-i-1-11{
    display: block;
    margin-left: -25px;
    margin-top: 194px;
    height: 155px;
    width: 148px;
}
.c-5-e-1-b-1-i-1{
    display: none;
}
.c-5-e-1-b-4 {
    margin-top: 327px;
    position: none;
}
.c-5-e-1-b-3-i-2-22{
    /* width: 281px; */
margin-top: -361px;
margin-left: 461px;
position: absolute;

}

.c-5-e-1-b-3-i-2 {
    width: 229px;
    margin-top: 411px;
    display: none;
}
.c-5-e-1-b-3-i-2-22 {
    display: block;
    width: 281px;
    margin-top: -391px;
    margin-left: 461px;
    position: absolute;
}
.c-5-e-1-b-1-i-2-22{
    width: 500px;
    display: block;
}
.c-5-e-1-b-2-i-2-22{
    display: block;
    width: 500px;
}
.c-5-e-1-b-1 {
    position: absolute;
    margin-top: 915px;
}
.con-5 {
    margin-left: 116px;
    margin-top: 10583px;
}


.c-5-e-1-b-1-i-1-11 {
    display: block;
    margin-left: -107px;
    margin-top: 142px;
    /* height: 155px; */
    width: 376px;
}

.c-5-e-1-b-3-i-2-22 {
    display: block;
    width: 350px;
    margin-top: -391px;
    margin-left: 266px;
    position: absolute;
}
.c-5-e-1-b-1-i-1-11 {
    display: block;
    margin-left: -107px;
    margin-top: 142px;
    height: 567px;
    width: 420px;
}
.c-5-e-1-b-3-i-1-11{
    display: block;
}


.c-5-e-1-b-3-i-1{
    display: none;
}.c-5-e-1-b-3-i-1-11 {
    width: 476px;
    display: block;
    margin-top: 90px;
    margin-left: -48px;
}


.c-5-e-1-b-3-i-2-22 {
    display: block;
    width: 350px;
    margin-top: -1091px;
    margin-left: 266px;
    position: absolute;
}
.c-5-e-1-b-1-i-2-22 {
    opacity: 0.2;
    filter: alpha(opacity=40);
    width: 403px;
    display: block;
    margin-left: -135px;
    margin-top: 97px;
}


.c-5-e-1-b-2-i-2 {
    margin-left: 66px;
    margin-top: 100px;
    width: 430px;
    display: none;
}
.c-5-e-1-b-4 {
    display: none;
    margin-left: -176px;
    margin-top: 871px;
    position: none;
}


.c-5-e-1-b-2-i-2-22 {
    opacity: 0.2;
    filter: alpha(opacity=40);
    width: 403px;
    display: block;
    margin-left: 353px;
    margin-top: 359px;
    display: block;
    /* width: 500px; */
}

.c-5-e-1-b-1-i-2 {
    margin-top: 204px;
    width: 122px;
    display: none;
}.c-5-e-1-b-2-cf-1-p-1 {
    font-size: 32px;
    margin-left: 12px;
    color: #ffffffbd;
    /* margin-left: 4px; */
    font-family: font-2;
}
.c-5-e-1-b-2-cf-1-img-1 {
    width: 107px;
    height: 89px;
}

.c-5-e-1-b-2-cf-1 {
    margin-left: -178px;
    margin-top: 740px;
    display: flex;
}


.con-6 {
    display: flex;
    margin-top: 71px;
    margin-left: -25px;
    background-color: rgba(255, 252, 246, 1);
    height: 1569px;
}

.c-6-e-1-b-2-t-1 {
    margin-left: 167px;
    text-transform: uppercase;
    font-size: 41px;
    font-style: normal;
    /* font-weight: 20; */
    margin-top: 90px;
    margin-left: 128px;
    font-family: font-4;
    color: #000000a6;
}
.c-6-e-1-b-1-t-1 {
    color: #0000008c;
    font-style: normal;
    font-weight: 500;
    font-family: 'font-2';
    font-size: 55px;
}
.c-6-e-1-b-2-t-1 {
    margin-left: 167px;
    text-transform: uppercase;
    font-size: 41px;
    font-style: normal;
    /* font-weight: 20; */
    margin-top: 90px;
    margin-left: 100px;
    font-family: font-4;
    color: #000000a6;
}
.c-5-e-1-b-2-cf-1-p-1{
    display: none;
}
.c-5-e-1-b-2-cf-1-p-111{
    display: block;
    font-size: 32px;
    margin-left: 12px;
    color: #ffffffbd;
    /* margin-left: 4px; */
    font-family: font-2;
}
.c-5-e-1-b-2-cf-1-img-1 {
    width: 88px;
    height: 89px;
}
.c-6-e-1-b-2-t-1 {
    margin-left: 167px;
    text-transform: uppercase;
    font-size: 41px;
    font-style: normal;
    /* font-weight: 20; */
    margin-top: 194px;
    margin-left: 100px;
    font-family: font-4;
    color: #000000a6;
}
.c-6-e-1-b-2-cf-1-i-1 {
    margin-left: 131px;
    margin-top: 432px;
    width: 337px;
}
.c-6-e-1-b-1-t-2 {
    position: absolute;
    margin-top: 280px;
    /* line-height: 90px; */
    text-transform: uppercase;
    font-style: normal;
    font-weight: 20;
    font-size: 224px;
    font-family: f;
    width: 1000px;
}
.c-6-e-1-b-2-t-2 {
    color: #FCD043;
    margin-left: -271px;
    margin-top: -483px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 20;
    font-size: 219px;
    font-family: f;
    position: absolute;
}
.c-6-e-1-b-2-cf-1-ic-1 {
    width: 90px;
    margin-left: 179px;
    position: absolute;
    margin-top: 159px;
}
.c-6-e-1-b-2-cf-1-i-1 {
    margin-left: 131px;
    margin-top: 432px;
    width: 337px;
}
.c-6-e-3-b-1-t-22{
    margin-top: 40px;
    color: #1B3B36;
    font-family: 'font-1';
    font-size: 9px;
    font-style: normal;
    font-weight: 300;
    display: block;
}



.c-6-e-3-b-1-t-22 {
    margin-top: 68px;
    color: #1B3B36;
    font-family: 'font-1';
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
    display: block;
    margin-left: 174px;
}
.c-4-el-2-b-3-bt-11{
    margin-left: -32px;
    /* position: absolute; */
    width: 258px;
    margin-top: 45px;
    display: block;
}
.c-4-el-2-b-3-bt-11 {
    display: block;
    margin-left: -934px;
    position: absolute;
    width: 258px;
    margin-top: 899px;
}
.con {
    margin-left: -2px;
    /* padding: 0; */
    /* margin: 0 auto; */
    /* position: absolute; */
    /* position: relative; */
    width: 969px;
    height: 17824px;
    background: #313F38;
}
.con-1-main {
    /* background-color: rebeccapurple; */
    /* margin-top: 20px; */
    height: 11226px;
}
.c-6-e-1-b-1-t-1 {
    color: #0000008c;
    font-style: normal;
    font-weight: 500;
    font-family: 'font-2';
    font-size: 55px;
    width: 471px;
}


.eee{
    position: absolute;
    display: block;
}


.eee {
    width: 1017px;
    margin: -420px 0 0 -74px;
    position: absolute;
    display: block;
}
.c-3-el-t_i-1-text-1 {
    color: rgb(252, 208, 67);
    font-family: f;
    font-style: normal;
    font-size: 131px;
    font-weight: 20;
    line-height: 111px;
    /* font-family: font-2; */
    margin-left: -2px;
    text-transform: uppercase;
    margin-top: -252px;
    /* color: #98a52a; */
}
.burger-menu{
    display: block;
}



.x{

}















}











